<div class="container-fluid">
    <h4 style="font-weight: bold">Scouting as {{user?.name}}</h4>
    <form [formGroup]="form" id="pitForm">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 style="font-weight: bold" class="panel-title">Basic Info:</h3>
            </div>
            <div class="panel-body">
                <label for="teamnumber">Team #</label>
                <input class="form-control" type='number' name='teamnumber' id='teamnumber' placeholder='Enter Team Number here'
                    required>
                    <label for="teamname">Team Name</label>
                    <input class="form-control" type='name' name='teamname' id='teamname' placeholder='Enter Team Name here'
                        required>



                <label for="basic-url">Drivetrain Type</label>
                <div class="input-group">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Drivetrain type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Tank drive</a>
                            </li>
                            <li>
                                <a href="#">Mecanum drive</a>
                            </li>
                            <li>
                                <a href="#">Swerve drive</a>
                            </li>
                        </ul>
                    </div>
                    <input placeholder="Additional comments" type="text" class="form-control" aria-label="...">
                </div>




            </div>
        </div>
        <fieldset>

        </fieldset>
        <fieldset>
            <legend>Upload Pictures here</legend>
            <div class="form-group">
                <div class="form-group">
                    <button class="btn btn-block" type="button">Add Picture</button>
                </div>
                <div>
                    <div></div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Type Your comments here</legend>
            <textarea class="form-control" id="comments" rows="3" cols="40" name='comments' placeholder='Enter comments about the team here'></textarea>
            <br>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-block btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>